<h2>Playoffs 2022</h2>
							<article id="playoffs">
    
								<div class="section" id="octavesFinals">
									<div style="background-color: rgba(46, 99, 165,1);">1. San José Prophets | 66</div>
									<div style="background-color: rgb(135, 191, 235,1);">8. Carmelitos Calzados | 25</div>
									<div style="background-color: rgba(255, 255, 255,1);color:black;">4. Laboure Spinners | 40</div>
									<div style="background-color: rgba(45, 45, 172,1);">5. Siena | 54</div>
									<div style="background-color: rgba(223, 28, 49,1);">2. Begoña Bulls | 33</div>
									<div style="background-color: rgba(62, 130, 30,1);">7. Salterio Lauders | 35</div>
									<div style="background-color: rgba(255, 63, 46,1);">3. Hijos del Trueno | 40</div>
									<div style="background-color: rgba(1, 1, 1,1);">6. La Paloma B.C. | 30</div>
								</div>

								<div class="connecter">
									<div></div>
									<div></div>
									<div></div>
									<div></div>
								</div>

								<div class="line">
									<div></div>
									<div></div>
									<div></div>
									<div></div>
								</div>

								<div class="section" id="quarterFinals">
									<div style="background-color: rgba(46, 99, 165,1);">San José Prophets | 43</div>
									<div style="background-color: rgba(45, 45, 172,1);">Siena | 46</div>
									<div style="background-color: rgba(62, 130, 30,1);">Salterio Lauders | 34</div>
									<div style="background-color: rgba(255, 63, 46,1);">Hijos del Trueno | 35</div>
								</div>

								<div class="connecter" id="conn2">
									<div></div>
									<div></div>
								</div>

								<div class="line" id="line2">
									<div></div>
									<div></div>
								</div>

								<div class="section" id="semiFinals">
									<div style="background-color: rgba(45, 45, 172,1);">Siena | 44</div>
									<div style="background-color: rgba(255, 63, 46,1);">Hijos del Trueno | 34</div>
								</div>

								<div class="connecter" id="conn3">
									<div></div>
								</div>

								<div class="line" id="line3">
									<div></div>
								</div>

								<div class="section" id="final" style="background-image: url(img/cd-campeonato-de-trofeo-de-baloncesto.png);background-size:100%;background-repeat:no-repeat;height:450px;background-position-y:150px;">
									<div style="background-color: rgba(45, 45, 172,1);">Siena</div>
								</div>

							</article>

							<article id="schedule">	
								<h3>Horario Torneo Triangular</h3>	
								<p>18/06/2022 en Stella Maris la Gavia</p>
								<div class="section section3"> 
								<div style="
								    letter-spacing: -1px;
								    background: linear-gradient(45deg, rgba(255, 255, 255,0) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 50%, rgba(247, 229, 0, 1) 80%, rgba(255, 255, 255,0) 100%);
								">
									<div class="logot">
										<img src="img/logot-la_paloma_bc.png" alt="La Paloma B.C.">
										<p>La Paloma B.C.</p>
									</div>									
									<div class="logot">
										<img src="img/logot-pantoraptors.png" alt="Pantoraptors">
										<p>Pantoraptors</p>	
									</div>
									<div class="vs">
										<p>vs</p>
									</div>
									<div class="date">
										<p>sábado 18/06/2022 - 09:00h</p>
										<p>Stella Maris la Gavia</p>
									</div>
								</div>
								</div>
								<div class="section section3"> 
								<div style="
								    letter-spacing: -1px;
								    background: linear-gradient(45deg, rgba(255, 255, 255,0) 0%, rgba(242,19,18,1) 20%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 80%, rgba(255, 255, 255,0) 100%);
								">
									<div class="logot">
										<img src="img/logot-begoña_bulls.png" alt="Begoña Bulls">
										<p>Begoña Bulls</p>
									</div>									
									<div class="logot">
										<img src="img/logot-la_paloma_bc.png" alt="La Paloma B.C.">
										<p>La Paloma B.C.</p>
									</div>
									<div class="vs">
										<p>vs</p>
									</div>
									<div class="date">
										<p>sábado 18/06/2022 - 10:45h</p>
										<p>Stella Maris la Gavia</p>
									</div>
								</div>
								</div>
								<div class="section section3"> 
								<div style="
								    letter-spacing: -1px;
								    background: linear-gradient(45deg, rgba(255, 255, 255,0) 0%, rgba(247, 229, 0, 1) 20%, rgba(0,0,0,1) 50%, rgba(242,19,18,1) 80%, rgba(255, 255, 255,0) 100%);
								">
									<div class="logot">
										<img src="img/logot-pantoraptors.png" alt="Pantoraptors">
										<p>Pantoraptors</p>
									</div>									
									<div class="logot">
										<img src="img/logot-begoña_bulls.png" alt="Begoña Bulls">
										<p>Begoña Bulls</p>	
									</div>
									<div class="vs">
										<p>vs</p>
									</div>
									<div class="date">
										<p>sábado 18/06/2022 - 12:30h</p>
										<p>Stella Maris la Gavia</p>
									</div>
								</div>
								</div>
							</article>
							
							<article id="schedule">
								<h3>Horario Final Four</h3>	
								<p>19/06/2022 en Stella Maris la Gavia</p>
								<div class="section section2"> 
								<div style="
								    letter-spacing: -1px;
								    background: linear-gradient(45deg, rgba(255, 255, 255,0) 0%, rgba(255, 63, 46,1) 20%, rgba(0,0,0,1) 50%, rgba(62, 130, 30,1) 80%, rgba(255, 255, 255,0) 100%);
								">
									<div class="logot">
										<img src="img/logot-hijos_del_trueno.png" alt="Hijos del Trueno">
										<p>Hijos del Trueno</p>
									</div>									
									<div class="logot">
										<img src="img/logot-salterio_lauders.png" alt="Salterio Lauders">
										<p>Salterio Lauders</p>	
									</div>
									<div class="vs">
										<p>vs</p>
									</div>
									<div class="date">
										<p>domingo 19/06/2022 - 09:00h</p>
										<p>Stella Maris la Gavia</p>
									</div>
								</div>
								</div>
								<div class="section section2"> 
								<div style="
								    letter-spacing: -1px;
								    background: linear-gradient(45deg, rgba(255, 255, 255,0) 0%, rgba(46, 99, 165,1) 20%, rgba(0,0,0,1) 50%, rgba(45, 45, 172,1) 80%, rgba(255, 255, 255,0) 100%);
								">
									<div class="logot">
										<img src="img/logot-san_jose_profets.png" alt="San José Prophets">
										<p>San José Prophets</p>
									</div>									
									<div class="logot">
										<img src="img/logot-siena.png" alt="Siena">
										<p>Siena</p>	
									</div>
									<div class="vs">
										<p>vs</p>
									</div>
									<div class="date">
										<p>domingo 19/06/2022 - 10:15h</p>
										<p>Stella Maris la Gavia</p>
									</div>
								</div>
								</div>
								<div class="section section1" style="
">	
								<div style="
    background-image: url(../img/tap-com.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 2em -3em;
    background-color: #ffffff;
">
<div style="
								    letter-spacing: -1px;
								    background: linear-gradient(45deg, rgba(255, 255, 255,0) 0%, rgba(45, 45, 172,0.8) 10%, rgba(46, 99, 165,0.8) 45%, rgba(255,255,255,0) 50%, rgba(255, 63, 46,0.8) 55%, rgba(62, 130, 30,0.8) 90%, rgba(255, 255, 255,0) 100%);
								">
									<div class="logot">
										<h4>Final Campeonato<br>Parish Pro Tournament 2022</h4><img src="img/cd-campeonato-de-trofeo-de-baloncesto.png" alt="San José Prophets">	
									</div>									
									<div class="date">
										<p>domingo 19/06/2022 - 12:30h</p>
										<p>Stella Maris la Gavia</p>
									</div>
								</div></div>
								</div>
							</article>
