							<article>						
								<h2>RESUMEN SEMANA 4</h2>
								<p></p>
								<p></p>					
							</article>
							<article>						
								<h2>RESUMEN SEMANA 3</h2>
								<p></p>
								<p></p>					
							</article>
							<article>						
								<h2>RESUMEN SEMANA 2</h2>
								<p>La segunda semana de competición, daba comienzo con el encuentro entre <strong>La Paloma B.C.</strong> y los antiguos Hijos del Trueno, <strong>Betsaida Boanergers</strong>.</p>
								<p>Acto segudo, comenzaba un duelo que prometia un buen espectaculo entre los <strong>Begoña Bulls</strong> y los vigentes campeones, <strong>Siena</strong>.</p>					
							</article>
							<article>						
								<h2>RESUMEN SEMANA 1</h2>
								<p>¡Ya era hora! Tras un verano que no ha dado respiro, por fin vuelve la mejor <strong>Liga de Baloncesto Parroquial</strong>, con sus dos primeros partidos inaugurales de la temporada 2022-2023.</p>
								<p>El partido inaugural enfrentaba a <strong>Laboure Spinners</strong> frente a los antiguos Pantoraptors, <strong>Los Ángeles Prayers</strong>.</p>
								<p>A continuación, daba comienzo el segundo partido de esta temporada, con el encuentro entre <strong>Salterio Lauders</strong> y los antiguos Carmelitos Calzados, los <strong>San Pedro Kings</strong>.</p>					
							</article>
							<article>						
								<h2>PRETEMPORADA</h2>
								<p>Conoce a nuestros Equipos:</p>
								<p><button class="btn btn-1"><a href="mapa">Mapa Equipos</a></button></p>					
							</article>
