							<article>
								<h2>RESUMEN SEMANA 21</h2>
								<p></p>
								<p></p>
							</article>

							<article>
								<h2>RESUMEN SEMANA 20</h2>
								<p></p>
								<p></p>
							</article>

							<article>
								<h2>RESUMEN SEMANA 19</h2>
								<p></p>
								<p></p>
							</article>

							<article>
								<h2>RESUMEN SEMANA 18</h2>
								<p></p>
								<p></p>
							</article>

							<article>
								<h2>LA COPA DE CRISTO REY 2022</h2>
								<h3>19/02/2022 en Stella Maris la Gavia</h3>
								<p><strong>Siena</strong> Campeón de la Copa de Cristo Rey 2022</p>
								<p>Campeón del concurso de Triples: <strong>7. Pablo R. de Siena</strong></p>
							
								<div id="playoffs">								
									<div class="section" id="octavesFinals">
										<div style="background-color: rgba(255, 63, 46,1);">1. Hijos del Trueno | 38</div>
										<div style="background-color: rgba(223, 28, 49,1);">4. Begoña Bulls | 42</div>
										<div style="background-color: rgba(45, 45, 172,1);">2. Siena | 40</div>
										<div style="background-color: rgba(46, 99, 165,1);">3. San José Prophets | 27</div>
									</div>

									<div class="connecter" id="conn1">
										<div></div>
										<div></div>
									</div>
										
									<div class="line" id="line1">
										<div></div>
										<div></div>
									</div>
										
									<div class="section" id="quarterFinals">
										<div style="background-color: rgba(223, 28, 49,1);">Begoña Bulls | 39</div>
										<div style="background-color: rgba(45, 45, 172,1);">Siena | 45</div>
									</div>
										
									<div class="connecter" id="conn2">
										<div></div>
									</div>
										
									<div class="line" id="line2">
										<div></div>
									</div>

									<div class="section" id="semiFinals" style="background-image: url(img/cd-copa-de-trofeo-de-baloncesto.png);background-size:100%;background-repeat:no-repeat;height:250px;">
										<div style="background-color: rgba(45, 45, 172,1);">Siena</div>
									</div>
								</div>	
							</article>							

							<article>
								<h2>RESUMEN SEMANA 17</h2>
								<p></p>
								<p></p>
							</article>	

							<article>
								<h2>RESUMEN SEMANA 16</h2>
								<p></p>
								<p></p>
							</article>							

							<article>
								<h2>RESUMEN SEMANA 15</h2>
								<p></p>
								<p></p>
							</article>

							<article>
								<h2>RESUMEN SEMANA 14</h2>
								<p></p>
								<p></p>
							</article>

							<article>
								<h2>RESUMEN SEMANA 13</h2>
								<p></p>
								<p></p>
							</article>

							<article>
								<h2>RESUMEN SEMANA 12</h2>
								<p>La duodécima semana de competición de esta temporada, se iniciaba con el partido entre <strong>Beerstillas B.C.</strong> y los <strong>Salterio Lauders</strong>, que llegaban al partido con hambre de victoria. El encuentro pronto se ponía de cara para los de Salterio, que se imponían en la pintura y se marchaban en el marcador con una diferencia de 14 puntos al finalizar el primer cuarto. En el segundo periodo, los Beerstillas reaccionaban con un juego alegre, anotando sus primeras canastas y poniendo en problemas a los Salterio, pero durante el tercer cuarto los de Mirasierra dieron el golpe definitivo, aumentando la diferencia y dejando fuera del partido a su rival, sobre todo gracias a la espectacular actuación de <strong>Manuel A.C.</strong>, que conseguiría un doble-doble con 32 puntos y 17 rebotes.</p>
								<p>El segundo encuentro de la semana y último del año 2021, enfrentaba a los de <strong>La Paloma B.C.</strong> contra a los <strong>Labouré Spinners</strong>, en lo que preveía que iba a ser un encuentro apasionante. Y así fue, ya que tras el salto inicial los de La Paloma, con un juego muy fluido, debido a una buena selección de pases que dejaban solos a sus tiradores, se marchaban en el marcador tras el primer cuarto. En el siguiente periodo, los de Spinners despertaron, dando una exhibición de buen baloncesto en ambas zonas, lo que les llevó a conseguir un parcial de 14 a 2 puntos en el segundo cuarto. El tercer periodo, comenzó como finalizó el anterior y es que los Spinners habían conseguido el juego que necesitaban para dominar a su rival, pero en el último cuarto, los de la Paloma volvieron a conseguir el juego fluido que perdieron en el segundo cuarto, lo que propició que en muchos instantes se acercaran en el marcador y se pensara en una posible remontada, pero no fue así, ya que los Spinners traían una buena renta de puntos en los minutos anteriores, sobre todo a debido a la gran actuación de <strong>Pedro M.</strong> que se fue a los 13 puntos y de <strong>Pablo M.R.</strong> que volvía a conseguir su cuarto doble-doble consecutivo con 11 puntos y 18 rebotes.</p>
							</article>

							<article>
								<h2>RESUMEN SEMANA 11</h2>
								<p>La undécima semana de competición, con la que se inicia la quinta jornada, comenzaba con todo un plato fuerte, y es que <strong>Siena</strong> se enfrentaba a los <strong>San José Prophets</strong>, en uno de los partidos más esperados de la liga. El encuentro comenzaba con ambos equipos con bastante ansia por encarrilar el partido, lo que llevó a la hora de seleccionar el tiro cierta precipitación e imprecisión, propiciando un resultado bastante bajo tras el primer cuarto. Con los equipos ya más asentados, el segundo cuarto, fue un recital de buen juego e intensidad defensiva en ambas zonas, llegando al final de la primera parte, con ventaja para los de San José de dos puntos. La segunda parte, fue totalmente diferente, sobre todo para los de Siena, que durante el tercer cuarto impusieron el ritmo de juego que más les beneficiaba, sumado a un buen hacer en la pista al seleccionar el tiro y aumentado así su ventaja en el marcador en diez puntos, para desesperación de los Prophets que veían como se les escapaba el encuentro, que finalmente fue sentenciado en el último cuarto por los de Siena, que a pesar de que los de San José empezaron a anotar, al quitarse la presión.</p>
								<p>Tras el partido anterior, se daban cita dos equipos en horas altas, los invictos <strong>Begoña Bulls</strong> se median frente a los <strong>Hijos del Trueno</strong>, en un partido eléctrico y bipolar de inicio a fin. Y es que tras el salto inicial, los Bulls imponían su ritmo y su buen juego en un primer cuarto apoteósico que dejó K.O. a los de Santiago con un parcial de 10 a 0. El segundo cuarto comenzó mal para los de Begoña que entraron en bonus, a falta de 8 minutos para finalizar el cuarto, pero aguantaron el envite de los Hijos que comenzaban a creer en la posibilidad de disputar en el encuentro. La segunda parte, fue totalmente diferente, ya que los Bulls tras perder a su único base por lesión en los primeros instantes, se vieron incapaces de organizarse frente a la dura defensa que tenían enfrente, lo que provocó frustración en sus jugadores clave, que cayeron en la protesta reiterativa y a fallar prácticamente todos los tiros libres de los que dispusieron, lo que posibilitó la remontada de los de Santiago al final del tercer periodo y que remataron en el último cuarto,  dejando K.O. a los de Begoña y venciendo al final del encuentro por diez puntos.</p>
							</article>

							<article>
								<h2>RESUMEN SEMANA 10</h2>
								<p>La décima semana de la Parish Pro Tournament se iniciaba con un clásico enfrentamiento, entre los <strong>Begoña Bulls</strong> y los <strong>Pantoraptors</strong>, que se daban cita a primera hora de la mañana en lo que sería un emocionante encuentro. Tras el salto inicial, el partido comenzaba con ritmo acelerado, pero con bastante acierto en la anotación, debido a que ambos equipos aún no tenían ajustada su defensa. El segundo cuarto ganó un punto de intensidad en defensa, pero el buen juego elaborado por parte de los de Begoña y la gran actuación por parte de los Pantoraptor de <strong>Raúl F.</strong> con 17 puntos al final del partido, favoreció el intercambio de canastas, llegando al final de la primera parte con una diferencia de dos puntos para los de San Sebastián. El tercer cuarto iba a tornar en un juego más atascado y duro en defensa, lo que llevó a ambos equipos a la línea de tiros libres, pero en los últimos instantes del cuarto los Bulls se enchufaron gracias a dos triples de <strong>Carlos A.</strong>, con 18 puntos de los cuales 4 fueron triples al final del encuentro. El último cuarto fue un recital de juego de los Bulls, que aumentaron la diferencia hasta los 14 puntos.</p>
								<p>El segundo partido del día, correspondía al retrasado de la tercera jornada de competición que enfrentaba a <strong>Siena</strong> y a los <strong>Carmelitos Calzados</strong>. El partido comenzaba bien para los Carmelitos que anotaron las primeras canastas, pero los de Siena, empezaron a controlar el ritmo del encuentro y hacerse fuertes en el poste bajo sobre todo gracias a los rebotes de <strong>Javier I.</strong> con 14 rebotes y 10 puntos, lo que les llevó a sacar una ventaja de tres puntos al final del primer cuarto, ventaja que aumentaría hasta los diez puntos al final de la primera parte, gracias a dos triples anotados en los últimos minutos del cuarto. El tercer cuarto fue determinante, ya que los Carmelitos no conseguían anotar, aumentando su frustración, pero por el contrario Siena, a pesar de que no tenían rotación, movieron bien la pelota, buscando y hallando buenos tiros sin marca. El último cuarto, fue un paseo triunfal para los de Siena, que rompieron definitivamente el encuentro gracias al buen juego de su poste, <strong>Pablo P.</strong> y de su base <strong>Antonio C.</strong> que se fueron hasta los 18 puntos cada uno.</p>
							</article>

							<article>
								<h2>RESUMEN SEMANA 9</h2>
								<p>La novena semana de competición comenzaba con el primer encuentro entre <strong>Siena</strong> e <strong>Hijos del Trueno</strong>, en lo que prometía ser a todas luces un grandísimo partido. Tras el salto inicial, los Hijos del Trueno ponían la directa en la anotación, pero los de Siena no se quedarían muy atrás, con una desventaja en el marcador de tan solo tres puntos al finalizar el primer cuarto. El segundo cuarto, iba a ser más duro por parte de ambas defensas, deteniendo en varias ocasiones el ritmo del partido, con multitud de faltas que llevaron a ambos equipos a la línea de tiros libres. Tras el descanso, el tercer cuarto iba a ser clave, ya que los de Santiago iban a continuar con la misma intensidad en defensa, lo que provocaría tiros forzados de Siena, lo que les llevó a conseguir una ventaja de ocho puntos al final del cuarto. El último cuarto fue trepidante, con ambos equipos muy activos en ambas canastas y con mucho acierto a la hora de anotar, pero el rebote ofensivo fue clave para que los Hijos del Trueno se llevarán el encuentro y eso que los de Siena anotaron tres triples en los últimos instantes del parto. Enhorabuena a ambos equipos por tan impresionante exhibición de buen baloncesto, y sobre todo a destacar por parte de Siena a <strong>Santiago R.</strong> y a <strong>Antonio C.</strong> con 8 y 15 puntos respectivamente y por parte de Hijos del Trueno a <strong>Miguel C.</strong>, <strong>Ignacio M.</strong> y <strong>Miguel G</strong>. con 8, 16 y 9 puntos respectivamente.</p>
								<p>Y tras este partidazo, otro, ya que los <strong>San José Prophets<strong> se enfrentaban a los </strong>Carmelitos Calzados</strong>. El encuentro comenzaba muy bien para los de San José, que ya desde los primeros compases, imponen su ritmo y pronto se iban en el marcador por once puntos. El segundo cuarto fue para los Carmelitos, que supieron reaccionar a tiempo e impusieron una dura defensa que deshabilitó en parte el ataque de los de San José y recortando poco a poco la desventaja. El tercer cuarto, fué trepidante ya que los Carmelitos seguían apostando por la misma fórmula, e impedían a los de San José anotar cómodamente para desesperación de sus jugadores. Pero en el último cuarto, los Carmelitos no pudieron aguantar la misma intensidad atrás y los Prophets, gracias al buen juego durante todo el partido de <strong>Samuel P.</strong> que se fue a los 20 puntos y 15 rebotes, se llevaron un muy intenso partido, lleno de detalles de muchísima calidad.</p>
							</article>

							<article>
								<h2>RESUMEN SEMANA 8</h2>
								<p>El primer partido de la octava semana de competición, enfrentaba a los <strong>Salterio Lauders</strong> frente a los <strong>Labouré Spinners</strong>, pero para desgracia del torneo y su organización, los Salterio, que ya venían con bastantes bajas, sufrieron una baja más de última hora, que les impidió formar equipo y presentarse al partido, que finalmente no se disputó, dando la victoria por 0-20 a los Labouré Spinners.</p>
								<p>Pero ahora sí, a las 10:15 de la mañana en el Stella Maris de la Gavia, se daban cita los <strong>Beerstillas B.C.</strong> y <strong>La Paloma B.C.</strong>, para disputar un gran partido, en lo que sería la mejor actuación por parte de ambos equipos. El partido comenzó bastante igualado, ya que los de La Paloma salieron con tres interiores en los primeros minutos para intentar apabullar al contrario en el poste bajo, pero los de Beerstillas, más cómodos en el juego exterior, supieron aguantar el envite llegando a tablas al final de la primera parte. En el tercer cuarto, La Paloma, debido a que se encontraba atascada en el juego interior, puso en pista a más jugadores de perímetro, por lo que comenzó a mover bien la pelota, aprovechando los espacios y en conjunto a una buena defensa en media pista, poniendo en dificultades la subida de la pelota de Beerstillas, les llevó a conseguir un parcial de 18-0. El último cuarto, y ya con un resultado muy abultado, La Paloma se relajó y Beerstillas ganó el cuarto mejorando en ataque, pero ya era demasiado tarde para la remontada. Gran partido de los de La Paloma en un actuación colectiva coral con bastantes jugadores aportando puntos.</p>
							</article>

							<article>
								<h2>RESUMEN SEMANA 7</h2>
								<p>El primer partido de la séptima semana de competición, enfrentaba a los <strong>Beerstillas B.C.</strong> frente a los <strong>Laboure Spinners</strong> en lo que sería a todas luces un partidazo para los de Laboure, que desde el primer cuarto se imponen en la anotación y en el rebote. El segundo cuarto fue para los jugadores de Beerstillas un desastre, ya que los Spinners los anularon totalmente, sentenciando prácticamente el encuentro al final de la primera parte. En el tercer cuarto apareció con todo su poderío ofensivo <strong>Pablo M.R.</strong>, que se iría a los 17 puntos y 23 rebotes al final del partido, consiguiente su tercer doble-doble consecutivo. En el último cuarto los Beerstillas aparecieron, maquillando su marcador y dando muestras de que si mantienen la concentración durante todo el partido, pueden llegar a ser un duro rival, pero en esta no fue esa ocasión, ya que los Spinners se llevaron el partido con toda claridad.</p>
								<p>A continuación, comenzaba el segundo partido de la semana, en el que los <strong>Salterio Lauders</strong> se enfrentaban a sus vecinos en el norte, los <strong>Begoña Bulls</strong> en un partido muy pobre en el marcador, pero bien duro en ambas defensas. El primer cuarto fue bastante igualado, pero ya anticipaba lo que iba a ser la tónica del encuentro, férreas defensas y precipitación en el ataque. El segundo cuarto, fue claramente para los de Begoña, que se marchaban en el marcador, en lo que sería su mejor cuarto respecto a la anotación. Los dos siguientes cuartos, a pesar de que se vieron detalles de calidad, fueron muy pobres en el juego, debido también a los múltiples parones en el encuentro debido a las faltas. En definitiva, clara victoria para los Begoña Bulls que se llevaron el encuentro frente a unos mermados Salterio Lauders.</p>
							</article>

							<article>
								<h2>RESUMEN SEMANA 6</h2>
								<p>Ésta sexta semana comenzaba con un partidazo entre <strong>La Paloma B.C.</strong> y <strong>San José Prophets</strong>, en un encuentro que se esperaba muy intenso, tanto en la pista como en la grada, gracias a la afición que se dio cita en el Stella Maris. El partido comenzaba bien para los de San José, que marcaban el ritmo en el juego y anotaban las primeras canatas a causa de una férrea defensa que no daba tregua a su rival. El segundo cuarto comenzaba con la recuperación de los de La Paloma que empezaban a robar el balón y a anotar fácilmente, debido a las imprecisiones de los Prophets, pero la cabeza fría de éstos, hizo que no perdieran la ventaja de 10 puntos al finalizar la primera parte. El comienzo del tercer cuarto fue para los de La Paloma, que conseguían acercarse en el marcador, gracias una defensa asfixiante, pero un triple de los de San José en los últimos instantes, debilitaban las opciones de remontada. El último cuarto se convirtió en un correcalles, lleno de precipitación e imprecisiones que ni ajustó, ni amplió la diferencia en el luminoso, que al final del partido, reflejaba una clara victoria para los de San José. Una vez más hay que hacer especial mención a <strong>Samuel P.</strong> que a pesar de la férrea defensa en zona de los de La Paloma, conseguía un nuevo doble-doble de 13 puntos y 19 rebotes.</p>
								<p>Acto seguido, comenzaba el siguiente encuentro entre los <strong>Pantorraptors</strong> y los <strong>Hijos del Trueno</strong>, en lo que iba a ser un enfrentamiento muy interesante para evaluar ambas plantillas. El partido se iniciaba con una clara ventaja para los de Santiago, que conseguian irse en el marcador gracias a ganar el rebote a los Pantorraptors en lo que parece ser uno de puntos debiles del conjunto amarillo esta temporada. En el segundo cuarto, los de San Sebastián, conseguían cerrar mejor bajo los tableros, pero los Hijos del Trueno estaban muy enchufados en el partido y conseguían aumentar la ventaja. El descanso fue un revulsivo para los Pantorraptors que se centraban en su juego, consiguiendo parar el poder ofensivo de los del Trueno. Durante el último cuarto, el conjunto amarillo, intentó dar la vuelta al marcador aumentando dar un punto más de intensidad en defensa, lo que llevó al conjunto naranja a la línea de tiros libres en varias ocasiones, sobre todo en jugadas dos más uno que sentenciaron el partido a su favor, sobre todo gracias al buen juego constante de <strong>Miguel G.</strong> que consiguió un doble-doble con 15 puntos y 13 rebotes.</p>
							</article>

							<article>					
								<h2>RESUMEN SEMANA 5</h2>
								<p>La quinta semana de competición se iniciaba con el partido entre <strong>Pantorraptors</strong> y <strong>Laboure Spinners</strong>, que buscaban en esta segunda jornada, su primera victoria de la temporada regular. El partido comenzaba con bastante ritmo, con intercambio de canastas entre ambos equipos que les llevó a estar igualados en el marcador al finalizar el primer cuarto. El segundo cuarto, comenzó de manera similar, pero al finalizar el mismo, los Spinners sacaban ventaja, gracias al acierto de <strong>Pablo M.R.</strong>, que al finalizar el partido se embolsaba otro doble-doble. El tercer cuarto fue un recital de buen juego e intensidad por parte de ambos equipos, pero la ventaja seguía aumentando, gracias a la superioridad en el rebote de los de Laboure. El último cuarto, fue sin duda para los Pantorraptors, que metieron una marcha más de intensidad, acercándoles en el marcador, pero un triple en los últimos compases de <strong>Pedro M.</strong>, que al final del partido sumaba 14 puntos, sentenciaba el partido para los de Laboure, a pesar de la increíble actuación en el último cuarto de <strong>Raúl F.</strong> y <strong>Pablo V.</strong> con 17 y 14 puntos respectivamente.</p>
								<p>A continuación, se enfrentaban los todopoderosos <strong>Siena</strong> frente a los <strong>Beerstillas B.C.</strong>, que esperaban dar la campanada, en lo que sería el último partido de esta interesantísima segunda jornada. El partido no comenzó nada mal, con ritmo e intensidad en los primeros instantes de juego, los de Beerstillas demostraron desparpajo y buen hacer, pero su inexperiencia, ya que poseen una plantilla muy joven, les llevó a caer en el ritmo y el juego que buscaba Siena, que iban aumentado considerablemente la diferencia a medida que pasaban los minutos, con un juego interior increíble por parte de sus dos poster, <strong>Fernando G.</strong> con 28 puntos y 15 rebotes y <strong>Javier I.</strong> con 16 puntos, que firmaron una actuación espectacular y dando la victoria a los de Siena.</p>
							</article>

							<article>						
								<h2>RESUMEN SEMANA 4</h2>
								<p>Esta cuarta semana de temporada regular, se iniciaba con el partido entre los <strong>Hijos del Trueno</strong> frente al líder de la primera jornada, los <strong>Carmelitos Calzados</strong>. El partido empezaba mal para los Carmelitos, ya que los Hijos del trueno se iban en el marcador en 6 puntos tras el primer cuarto, aumentando la diferencia en 21 puntos al finalizar el segundo. Estaba claro, que no era el día de los Carmelitos, ya que en el tercer cuarto los de Mirasierra, no tuvieron defensa enfrente. El último cuarto más de lo mismo, con una diferencia al final del encuentro de
								46 puntos. Sin lugar a dudas una dura derrota, que esperamos que sepan encajar y levantarse aún más fuertes en futuros enfrentamientos. A destacar la impresionante actuación de <strong>Manuel C.</strong> de los Hijos del Trueno, que se fue a los 28 puntos y 17 rebotes, estrenándose con un muy merecido doble-doble.</p>
								<p>Acto seguido, comenzaba el partidazo de la segunda jornada, que enfrentaba nada más y nada menos que a los <strong>San José Prophets</strong> y a los <strong>Salterio Lauders</strong>, en lo que seguro iba a ser un partido vibrante. Y así, tras el salto inicial y mucha tensión acumulada, comenzaba un primer cuarto, lleno de precipitación que llevó a un marcador muy pobre, al finalizar el mismo. En el segundo cuarto, los de San José movían con más criterio la pelota, anotando 2 triples libres de marca, para desesperación del capitán de los Salterio. En la segunda parte, los de Salterio, soltaron los nervios y se centraron en su juego y en hacer una dura defensa, que neutralizó el ritmo de los de San José, y recuperando la desventaja hasta los 2 puntos por debajo en el marcador. El último cuarto se esperaba muy tenso y así fue, con un juego muy precipitado, mucha protesta y un desenlace vibrante, que daba la victoria a los Salterio Lauders por tan solo un punto. Muy buena actuación de ambos conjuntos, pero hay que destacar a lo que parece a todas luces un candidato para el MVP, <strong>Samuel P.</strong> que se llevó un doble-doble con 14 puntos y 14 rebotes.</p>
							</article>
							
							<article>						
								<h2>RESUMEN SEMANA 3</h2>
								<p>La tercera semana de competición, daba comienzo con un clásico de la liga, los antiguos Houston Prophets, llamados ahora como <strong>San José Prophets</strong> se enfrentaban a los <strong>Pantorraptors</strong>, en un partido con afición en las gradas que trasmitieron ritmo al partido. El encuentro comenzó ajustado en los primeros compases, pero el ya conocido potencial ofensivo de los Prophets daba su fruto llegando con 12 puntos de ventaja al descanso. En el tercer cuarto, los Pantorraptors se fueron del partido, por lo que los de San José incrementaron el ritmo y la ventaja hasta los últimos minutos del encuentro, en el que el conjunto amarillo empezó a reaccionar y a incomodar defensivamente a los de San José que sentenciaron el partido desde la línea de tiro libre. Es obligado hacer mención a la gran actuación del de los Prophets, <strong>Samuel P.</strong>, que se fue a los 13 puntos, 8 rebotes y 4 tapones.</p>
								<p>A continuación, comenzaba el segundo partido correspondiente a la segunda jornada de la liga, en el que se enfrentaban los <strong>Begoña Bulls</strong>, frente a unos "mermados" de <strong>La Paloma B.C.</strong>. El encuentro comenzó bien para los de La Paloma que se iba con ventaja al final del primer cuarto, pero en el siguiente la cosa se ajustó con una gran aportación de todo los miembros de los Bull. El encuentro no podía estar más igualado y emocionante, el intercambio de canastas fue la tónica general durante todo el tercer cuarto y hasta los últimos minutos del partido, en el que la tensión llevo a ambos equipos a jugarse el encuentro desde los tiros libres. Finalmente, el encuentro acabo en tablas, hasta que se resuelva el ganador del encuentro.</p>
							</article>

							<article>						
								<h2>RESUMEN SEMANA 2</h2>
								<p>La segunda semana de competición, comenzaba con el plato fuerte de la primera jornada, los <strong>Salterio Lauders</strong> y los <strong>Hijos del Trueno</strong>, se enfrentaban en lo que iba a ser un encuentro muy disputado y ajustado, pero a falta de unos minutos del segundo cuarto, los de San Juan se iban en el marcador gracias a un gran juego bajo los tableros. Tras el descanso, el tercer cuarto fue un desastre para los de Santiago, ya que tenían la cabeza aún en el cuarto anterior y no consiguieron anotar, incrementándose la diferencia hasta los 26 puntos. Finalmente el último cuarto fue un mero trámite, debido a la gran diferencia en el marcador, pero no por ello los Hijos del Trueno bajaron los brazos, con unos últimos minutos muy disputados.</p>
								<p>Acto seguido, comenzaba el segundo partido en lo que sería el estreno en nuestra liga de los <strong>Carmelitos Calzados</strong>, enfrentándose a los <strong>Beerstillas B.C.</strong>, que dejaron muy buenas sensaciones en la temporada 2019-2020. Pero en esta ocasión la sorpresa vino por parte de los Carmelitos Calzados, que han comenzado la liga subiendo a los más alto de la tabla, a falta del último partido de la jornada, con una impresionante e inesperada actuación rompiendo el marcador en todos los cuartos y llevándose una victoria con una diferencia de 47 puntos y con una espectacular actuación de <strong>Pedro N.</strong> y <strong>Javier G.</strong> con un doble-doble cada uno.</p>
							</article>

							<article>						
								<h2>RESUMEN SEMANA 1</h2>
								<p>Por fin, y tras año y medio sin competición por el parón provocado por la pandemia, vuelve la mejor <strong>Liga Parroquial</strong>.</p>
								<p>Los dos primeros partidos disputados en esta nueva temporada 2021-2022 de la <strong>Parish Pro Tournament</strong> han sido realmente emocionantes y competitivos.</p>
								<p>El partido inaugural era todo un clásico de esta competición, <strong>Begoña Bulls</strong> se enfrentaba a <strong>Laboure Spinners</strong>. Tras un minuto de oración silenciosa por todas las víctimas de la pandemia COVID, el partido daba comienzo tras el salto inicial. El primer cuarto fue bastante disputado, había ganas de jugar de nuevo y eso se notaba con algo de ansiedad en los primeros tiros que llevaron a un resultado bajo al finalizar el primer cuarto. En el segundo cuarto cambiaron las cosas, sobre todo para los de Begoña, que respondían con varias canastas consecutivas, tras recibir dos triples por parte de Laboure, lo que propició que se marcharan en el marcador. El tercer cuarto, fue un festival de canastas y triples a un ritmo trepidante que daban paso a un último cuarto duro y emocionante, ya que los Spinners intentaron la remontada, pero se toparon con una sólida defensa de los Bulls que supieron aguantar, realizando las faltas justas, para parar el partido, ya que no disponían de banquillo. Impresionante actuación de <strong>Pablo M.R.</strong> de Laboure que se fue a los 19 puntos y 20 rebotes.</p>
								<p>A continuación, se daban cita los jugadores de <strong>La Paloma B.C.</strong> y de <strong>Siena</strong>, que tras otro minuto de oración silenciosa por las victimas del COVID y en especial por Rubén Pérez víctima de la explosión acontecida en la Parroquia de la Paloma. El encuentro comenzó como el anterior, mucha ansiedad y ganas de anotar rápido, lo que provocó que se ejecutarán demasiados tiros forzados, que llevo a un marcador bajo hasta los últimos compases del segundo cuarto, donde Siena reacciono con tres canastas seguidas. El tercer cuarto fue para los de la Paloma, que lograron anular el jugo de Siena y ponerse a un punto por debajo. Pero el último cuarto fue para los de Siena, que hicieron gala de sus últimos campeonatos, llevándose el partido por siete puntos.</p>
							</article>