
							<article>						
								<h2>PRETEMPORADA</h2>
								<p>Calentado...</p>
								<p></p>
								<p></p>
								<p></p>
								<div id="map"></div>
							</article>
							
							<script type="text/javascript" src="js/map.js"></script>
