#map { position: absolute; top: 0; bottom: 0; width: 100%; }

#arena {
        background-image: url('https://statsbasket.com/public/favicon/android-icon-48x48.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

#begona {
        background-image: url('https://statsbasket.com/public/img/logot-begoña_bulls.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

#sanjoseprophets {
        background-image: url('https://statsbasket.com/public/img/logot-san_jose_profets.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

#lapalomabc {
        background-image: url('https://statsbasket.com/public/img/logot-la_paloma_bc.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

#labourespinners {
        background-image: url('https://statsbasket.com/public/img/logot-laboure_spinners.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

#losangelesprayers {
        background-image: url('https://statsbasket.com/public/img/logot-los_angeles_prayers.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

#siena {
        background-image: url('https://statsbasket.com/public/img/logot-siena.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

#salteriolauders {
        background-image: url('https://statsbasket.com/public/img/logot-salterio_lauders.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

#betsaidaboanerges {
        background-image: url('https://statsbasket.com/public/img/logot-betsaida_boanerges.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

#sanpedrokings {
        background-image: url('https://statsbasket.com/public/img/logot-la_paloma_bc.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

.mapboxgl-popup {
        max-width: 200px;
    }
