#schedule{
    width: 100%;
    /*height: 600px;*/
    float: left;
}
#schedule .section {
    width: 100%;
    /*height: 520px;*/
    float: left;
    padding: 5px;
    color: #ffffff;
}
#schedule .section2 {
    width: 50%;
}
#schedule .section3 {
    width: 33.333333%;%;
}
#schedule .section div > div {
    display: inline-block;
    padding: 5px;
}
#schedule .section .logot {
    width: 49%;
}
#schedule .section .logot > img { 
    width: 100%;
    object-fit: contain;
}
#schedule .section .vs {
    display: block;
    text-shadow: 0 0 0.2em #e7ecea, 0 0 0.2em #004f7c, 0 0 0.2em #ff6700;
}
#schedule .section2 .vs {
    font-size: 5em;
    margin-top: -1.5em;
}
#schedule .section2 .vs p {
    padding: 0 0 0.5em 0;
}    
#schedule .section2 .logot p {
    font-size: 1.2em;
}
#schedule .section .logot h4 {
    font-size: 1.5em;
    text-shadow: 0 0 0.2em #004f7c, 0 0 0.2em #004f7c, 0 0 0.2em #ff6700;
}
#schedule .section3 .vs {  
    font-size: 3em;
    margin-top: -1.9em;
}
#schedule .section1 .logot > img{
    max-height: 200px;
}
#schedule .section1 .logot {
    width: 100%;
}
#schedule .section1 div{
    display: inline-block;
}

#schedule .section .date {
    background-color: #004f7c;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0 42 65 / 80%), 10px 10px 10px rgb(0 0 0 / 50%), 10px 10px 10px rgb(0 0 0 / 50%) inset;
    margin-bottom: 10px;
}
#schedule .section .date p {
    padding: 0.1em;
    text-shadow: 0.5px 0.5px #e7ecea, -0.5px -0.5px #002a42;
}
#schedule .logot p {
    font-weight: 700;
    padding: 0.5em 0 0.5em 0;
    letter-spacing: 0.05em;
    text-shadow: 0 0 0.2em #004f7c, 0 0 0.2em #004f7c, 0 0 0.2em #ff6700;
}

@media screen and (max-width: 1128px){
    #schedule .section p {
        font-size: 0.8em;
    }
    #schedule .section .date p {
        text-shadow: initial;
    }
    #schedule .section2 .vs {
        margin-top: -1.4em;
    }
    #schedule .section2 .vs p {
        padding: 0 0 0.7em 0;
    }
    #schedule .section2 .logot p {
        font-size: 1em;
    }
    #schedule .section3 .vs p {
        padding: 0 0 1.2em 0;
    }
}

@media screen and (max-width: 694px){
    #schedule .section2 .vs {
        font-size: 4em;
        margin-top: -1.4em;
    }
    #schedule .section .vs p {
        padding: 0 0 0.3em 0;
    }
}

@media screen and (max-width: 40em) {
    #schedule .section {
        width: 100%;
        float: left;
        margin: 5px 0;
    }
    #schedule .section2 {
        width: 100%;
    }
    #schedule .section3 {
        width: 100%;
    } 
    #schedule .section1 div{
        width: 100%;
    }
    #schedule .section .vs {
        font-size: 5em;
        margin-top: -2em;
    }
    #schedule .section p {
        font-size: 1.5em;
    }
    #schedule .section .date p {
        letter-spacing: 0.05em;
    }
    #schedule .section .logot p {
        font-size: 1.25em;
    }
    #schedule .section > img {
        /*width: 70%;
        height: auto;*/
    }
}

@media screen and (max-width: 25em) {
    #schedule .section p {
        font-size: 0.8em;
    }
    #schedule .section .vs {
        margin-top: -1.5em;
    }
    #schedule .section .vs p {
        padding: 0 0 0.6em 0;
    }
}


/*Calendar*/

#table-calendar > div {
    background: white;
    border-style: solid;
    margin-bottom: 10px;
    border-radius: 10px;
} 

#table-calendar > div > div {
    display: inline-block;
    width: 20%;
}

#table-calendar p {
    padding: 0;
}

#table-calendar span {
    font-weight: 800;
    font-size: 120%;
}

#table-calendar .DateLocal, #table-calendar .DateVisitante {
    width: 40%;
}

#table-calendar .DateLocal span {
    background-repeat: no-repeat;
	background-position: left;
	background-size: 5em auto;
	padding: 0.8em 1em 0.8em 4.7em;
	display: block;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 400px;
	padding-left: 35%;
}

#table-calendar .DateVisitante span {
    background-repeat: no-repeat;
	background-position: right;
	background-size: 5em auto;
	padding: 0.8em 1em 0.8em 4.7em;
	display: block;
	position: relative;
	cursor: pointer;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    padding-right: 35%;
}

#table-calendar .flag-BEG { background-image: url(../img/logot-begoña_bulls.png); }
#table-calendar .flag-SJO { background-image: url(../img/logot-san_jose_profets.png); }
#table-calendar .flag-PAL { background-image: url(../img/logot-la_paloma_bc.png); }
#table-calendar .flag-LAB { background-image: url(../img/logot-laboure_spinners.png); }
#table-calendar .flag-PRA { background-image: url(../img/logot-pantoraptors.png); }
#table-calendar .flag-SIE { background-image: url(../img/logot-siena.png); }
#table-calendar .flag-SAL { background-image: url(../img/logot-salterio_lauders.png); }
#table-calendar .flag-BET { background-image: url(../img/logot-betsaida_boanerges.png); }
#table-calendar .flag-SPK { background-image: url(../img/logot-la_paloma_bc.png); }
