#schedule{
    width: 100%;
    /*height: 600px;*/
    float: left;
}
#schedule .section {
    width: 100%;
    /*height: 520px;*/
    float: left;
    margin: 0 5px;
    padding: 7px;
}
#schedule .section2 {
    width: 49%;
}
#schedule .section3 {
    width: 32.4%;
}
#schedule .section > div {
    display: inline-block;
}
#schedule .section .logot {
    width: 49%;
}
#schedule .section .vs {
    position: absolute;
    text-shadow: 0 0 0.2em #e7ecea, 0 0 0.2em #004f7c, 0 0 0.2em #ff6700;
}
#schedule .section2 .vs {
    font-size: 5em;
    margin-left: -3.3em;
    margin-top: 1.8em;
}
#schedule .section3 .vs {  
    font-size: 3em;
    margin-left: 1.4em;
    margin-top: -1.6em;
}
#schedule .section .date {
    background-color: #004f7c;
    padding: 0.5em 2em 0.5em 2em;
}
#schedule .section .logot > img { 
    width: 100%;
    object-fit: contain;
}
#schedule .logot p {
    font-weight: 700;
    padding: 0.5em 0 0.5em 0;
    letter-spacing: 0.05em;
}
#schedule .section > p {
    margin: 0;
    padding: 0.75em 0 0.75em 0;
}
@media screen and (max-width: 25em) {
    #schedule .section {
        width: 100%;
        /*height: 520px;*/
        float: left;
        margin: 5px 0;
    }
    #schedule .section2 {
    width: 100%;
    }
    #schedule .section3 {
        width: 100%;
    }
    #schedule .section > img {
        /*width: 70%;
        height: auto;*/
    }
    #schedule .section > p {
        font-size: 1.5em;
    }
}
