<!DOCTYPE html>
<html lang="es" xml:lang="es">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Stats Basket: Resultados y Estadísticas de Baloncesto Amateur</title>
		<meta name="description" content="Resultados y Estadísticas de baloncesto del torneo amateur Parish Pro Tournament" />
		<meta name="author" content="Sucendo" />
	
		<% include ../partials/header.ejs %>
	</head>

	<body>
        
     <!--CONTENIDO-->
		<div class="container">
    
      <link rel="stylesheet" type="text/css" href="css/map.css" />
			<div id="map"></div>
			<script type="text/javascript" src="js/map.js"></script>
      
    </div>
    
  </body>

</html>
