<article>
								<h2>LA COPA DE CRISTO REY 2023</h2>
								<h3><strong>San José Prophets</strong> Campeón de la Copa de Cristo Rey 2023</h3>
								<p>Campeón del concurso de Triples: <strong>3. Pablo A. de Begoña Bulls</strong></p>
							
								<div id="playoffs">								
									<div class="section" id="octavesFinals">
										<div style="background-color: rgba(223, 28, 49, 1);">1. Begoña Bulls | 41</div>
										<div style="background-color: rgba(1, 1, 1, 1);">4. La Paloma B.C. | 48</div>
										<div style="background-color: rgba(46, 99, 165, 1);">2. San José Prophets | 45</div>
										<div style="background-color: rgba(255, 63, 46, 1);">3. Betsaida Boanerges | 30</div>
									</div>

									<div class="connecter" id="conn1">
										<div></div>
										<div></div>
									</div>
										
									<div class="line" id="line1">
										<div></div>
										<div></div>
									</div>
										
									<div class="section" id="quarterFinals">
										<div style="background-color: rgba(1, 1, 1, 1);">La Paloma B.C. | 29</div>
										<div style="background-color: rgba(46, 99, 165, 1);">San José Prophets | 68</div>
									</div>
										
									<div class="connecter" id="conn2">
										<div></div>
									</div>
										
									<div class="line" id="line2">
										<div></div>
									</div>

									<div class="section" id="semiFinals" style="background-image: url(public/img/cd-copa-de-trofeo-de-baloncesto.png);background-size:100%;background-repeat:no-repeat;height:250px;">
										<div style="background-color: rgba(46, 99, 165, 0.8);">San José Prophets</div>
									</div>
								</div>	
							</article>
								
							<article id="schedule">
								<h3>Horarios:</h3>	
								<p>25/02/2023 en Stella Maris la Gavia</p>
								<div class="section section2"> 
								<div style="
								    letter-spacing: -1px;
								    background: linear-gradient(145deg, rgba(255, 255, 255,0) 0%, rgba(223,28,49,1) 20%, rgba(0,0,0,1) 50%, rgba(1,1,1,1) 80%, rgba(255, 255, 255,0) 100%);
								">
									<div class="info" style="position: absolute;
    display: inline-block;
    padding: 3px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-shadow: 0 0 0.2em #004f7c, 0 0 0.2em #004f7c, 0 0 0.2em #ff6700;">
										Semifinal 1:
									</div>
									<div class="logot">
										<img src="public/img/logot-begoña_bulls.png" alt="Begoña Bulls">
										<p>Begoña Bulls</p>
									</div>									
									<div class="logot">
										<img src="public/img/logot-la_paloma_bc.png" alt="La Paloma B.C.">
										<p>La Paloma B.C.</p>
									</div>
									<div class="vs">
										<p>vs</p>
									</div>
									<div class="date">
										<p>sábado 25/02/2023 - 09:00h</p>
										<p>Stella Maris la Gavia</p>
									</div>
								</div>
								</div>
								<div class="section section2"> 
								<div style="
								    letter-spacing: -1px;
								    background: linear-gradient(45deg, rgba(255, 255, 255,0) 0%, rgba(46,99,165,1) 20%, rgba(0,0,0,1) 50%, rgba(255,63,46,1) 80%, rgba(255, 255, 255,0) 100%);
								">
								<div class="info" style="position: absolute;
    display: inline-block;
    padding: 3px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-shadow: 0 0 0.2em #004f7c, 0 0 0.2em #004f7c, 0 0 0.2em #ff6700;">
										Semifinal 2:
									</div>
									<div class="logot">
										<img src="public/img/logot-san_jose_profets.png" alt="San José Prophets">
										<p>San José Prophets</p>
									</div>									
									<div class="logot">
										<img src="public/img/logot-betsaida_boanerges.png" alt="Betsaida Boanerges">
										<p>Betsaida Boanerges</p>										
									</div>
									<div class="vs">
										<p>vs</p>
									</div>
									<div class="date">
										<p>sábado 25/02/2023 - 10:30h</p>
										<p>Stella Maris la Gavia</p>
									</div>
								</div>
								</div>
								<div class="section section2" style="
								">	
								<div style="
									background-image: url(public/img/t3.PNG);
									background-size: cover;
									background-repeat: no-repeat;
									background-position: -6em 1em;
									background-color: #ffffff;
								">
								<div style="
								    letter-spacing: -1px;
								    background: linear-gradient(320deg, rgba(255,255,255,1) 10%, rgba(223,28,49,0.8) 20%, rgba(255,63,46,0.8) 30%, rgba(247,229,0,0.8) 40%, rgba(62, 130, 30,0.8) 50%, rgba(135,191,235,0.8) 60%, rgba(46, 99, 165,0.8) 70%, rgba(45, 45, 172,0.8) 80%, rgba(1, 1, 1,1) 90%);
								">
									<div class="logot">
										<h4>Concurso de Triples 2023</h4><img src="public/img/cd-campeonato-de-trofeo-de-baloncesto.png" alt="Concurso de Triples">	
									</div>									
									<div class="date">
										<p>sábado 25/02/2023 - 12:00h</p>
										<p>Stella Maris la Gavia</p>
									</div>
								</div></div>
								</div>
								<div class="section section2" style="
								">	
								<div style="
									background-image: url(public/img/tap-com.PNG);
									background-size: cover;
									background-repeat: no-repeat;
									background-position: 2em -3em;
									background-color: #ffffff;
								">
								<div style="
								    letter-spacing: -1px;
								    background: linear-gradient(45deg, rgba(255, 255, 255,0.8) 0%, rgba(255,63,46,0.8) 10%, rgba(255,63,46,0.8) 20%, rgba(46, 99, 165,0.8) 45%, rgba(1,1,1,0.8) 50%, rgba(223,28,49,0.8) 55%, rgba(1, 1, 1,0.8) 80%, rgba(1, 1, 1,0.8) 90%, rgba(255, 255, 255,0.8) 100%);
								">
									<div class="logot">
										<h4>Final de la Copa Cristo Rey 2023</h4><img src="public/img/cd-copa-de-trofeo-de-baloncesto.png" alt="Final Copa Cristo Rey 2023">
									</div>									
									<div class="date">
										<p>sábado 25/02/2023 - 12:30h</p>
										<p>Stella Maris la Gavia</p>
									</div>
								</div></div>
								</div>
							</article>
