<article id="schedule">
								<h3>Horarios:</h3>	
								<p>Semana 18: sábado 18/03/2023 en Stella Maris la Gavia</p>
								<div class="section section2"> 
								<div style="
								    letter-spacing: -1px;
								    background: linear-gradient(45deg, rgba(255, 255, 255,0) 0%, rgba(46,99,165,1) 20%, rgba(0,0,0,1) 50%, rgba(1,1,1,1) 80%, rgba(255, 255, 255,0) 100%);
								">
								<div class="info" style="position: absolute;
								    display: inline-block;
								    padding: 3px;
								    font-weight: 700;
								    letter-spacing: 0.05em;
								    text-shadow: 0 0 0.2em #004f7c, 0 0 0.2em #004f7c, 0 0 0.2em #ff6700;">
										Jornada 11:
									</div>
									<div class="logot">
										<img src="img/logot-san_jose_profets.png" alt="San José Prophets">
										<p>San José Prophets</p>
									</div>									
									<div class="logot">
										<img src="img/logot-la_paloma_bc.png" alt="La Paloma B.C.">
										<p>La Paloma B.C.</p>								
									</div>
									<div class="vs">
										<p>vs</p>
									</div>
									<div class="date">
										<p>sábado 18/03/2023 - 09:00h</p>
										<p>Stella Maris la Gavia</p>
									</div>
								</div>
								</div>
								<div class="section section2">
								<div style="
								    letter-spacing: -1px;
								    background: linear-gradient(45deg, rgba(255, 255, 255,0) 0%, rgba(223,28,49,1) 20%, rgba(0,0,0,1) 50%, rgba(45,45,172,1) 80%, rgba(255, 255, 255,0) 100%);
								">
									<div class="info" style="position: absolute;
									    display: inline-block;
									    padding: 3px;
									    font-weight: 700;
									    letter-spacing: 0.05em;
									    text-shadow: 0 0 0.2em #004f7c, 0 0 0.2em #004f7c, 0 0 0.2em #ff6700;">
										Jornada 12:
									</div>
									<div class="logot">
										<img src="img/logot-begoña_bulls.png" alt="Begoña Bulls">
										<p>Begoña Bulls</p>
									</div>									
									<div class="logot">
										<img src="img/logot-siena.png" alt="Siena">
										<p>Siena</p>
									</div>
									<div class="vs">
										<p>vs</p>
									</div>
									<div class="date">
										<p>sábado 18/03/2023 - 10:15h</p>
										<p>Stella Maris la Gavia</p>
									</div>
								</div>
								</div>
							</article>
