<article id="schedule">
								<h3>Horarios:</h3>	
								<p>Playoffs - Cuartos de Final: sábado 29/04/2023 en Stella Maris la Gavia</p>
								<div class="section section2"> 
								<div style="
								    letter-spacing: -1px;
								    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(223,28,49,1) 20%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);
								">
								<div class="info" style="position: absolute;
								    display: inline-block;
								    padding: 3px;
								    font-weight: 700;
								    letter-spacing: 0.05em;
								    text-shadow: 0 0 0.2em #004f7c, 0 0 0.2em #004f7c, 0 0 0.2em #ff6700;">
										PlayOffs Cuartos:
									</div>
									<div class="logot">
										<img src="public/img/logot-begoña_bulls.png" alt="Begoña Bulls">
										<p>Begoña Bulls</p>
									</div>									
									<div class="logot">
										<img src="public/img/logot-laboure_spinners.png" alt="Laboure Spinners">
										<p>Laboure Spinners</p>						
									</div>
									<div class="vs">
										<p>vs</p>
									</div>
									<div class="date">
										<p>sábado 29/04/2023 - 09:00h</p>
										<p>Stella Maris la Gavia</p>
									</div>
								</div>
								</div>
								<div class="section section2">
								<div style="
								    letter-spacing: -1px;
								    background: linear-gradient(45deg, rgba(255, 255, 255,0) 0%, rgba(1,1,1,1) 20%, rgba(0,0,0,1) 50%, rgba(45,45,172,1) 80%, rgba(255, 255, 255,0) 100%);
								">
									<div class="info" style="position: absolute;
									    display: inline-block;
									    padding: 3px;
									    font-weight: 700;
									    letter-spacing: 0.05em;
									    text-shadow: 0 0 0.2em #004f7c, 0 0 0.2em #004f7c, 0 0 0.2em #ff6700;">
										PlayOffs Cuartos:
									</div>
									<div class="logot">
										<img src="public/img/logot-la_paloma_bc.png" alt="La Paloma B.C.">
										<p>La Paloma B.C.</p>
									</div>									
									<div class="logot">
										<img src="public/img/logot-siena.png" alt="Siena">
										<p>Siena</p>
									</div>
									<div class="vs">
										<p>vs</p>
									</div>
									<div class="date">
										<p>sábado 29/04/2023 - 10:15h</p>
										<p>Stella Maris la Gavia</p>
									</div>
								</div>
								</div>
							</article>
