<article id="schedule">
								<h3>Horarios:</h3>	
								<p>Semana 19: sábado 25/03/2023 en Stella Maris la Gavia</p>
								<div class="section section2"> 
								<div style="
								    letter-spacing: -1px;
								    background: linear-gradient(45deg, rgba(255, 255, 255,0) 0%, rgba(135,191,235,1) 20%, rgba(0,0,0,1) 50%, rgba(223,28,49,1) 80%, rgba(255, 255, 255,0) 100%);
								">
								<div class="info" style="position: absolute;
								    display: inline-block;
								    padding: 3px;
								    font-weight: 700;
								    letter-spacing: 0.05em;
								    text-shadow: 0 0 0.2em #004f7c, 0 0 0.2em #004f7c, 0 0 0.2em #ff6700;">
										Jornada 12:
									</div>
									<div class="logot">
										<img src="public/img/logot-la_paloma_bc.png" alt="Salterio Lauders">
										<p>San Pedro Kings</p>
									</div>									
									<div class="logot">
										<img src="public/img/logot-begoña_bulls.png" alt="Begoña Bulls">
										<p>Begoña Bulls</p>							
									</div>
									<div class="vs">
										<p>vs</p>
									</div>
									<div class="date">
										<p>sábado 25/03/2023 - 09:00h</p>
										<p>Stella Maris la Gavia</p>
									</div>
								</div>
								</div>
								<div class="section section2">
								<div style="
								    letter-spacing: -1px;
								    background: linear-gradient(45deg, rgba(255, 255, 255,0) 0%, rgba(62,130,30,1) 20%, rgba(0,0,0,1) 50%, rgba(247,229,0,1) 80%, rgba(255, 255, 255,0) 100%);
								">
									<div class="info" style="position: absolute;
									    display: inline-block;
									    padding: 3px;
									    font-weight: 700;
									    letter-spacing: 0.05em;
									    text-shadow: 0 0 0.2em #004f7c, 0 0 0.2em #004f7c, 0 0 0.2em #ff6700;">
										Jornada 12:
									</div>
									<div class="logot">
										<img src="public/img/logot-salterio_lauders.png" alt="Salterio Lauders">
										<p>Salterio Lauders</p>
									</div>									
									<div class="logot">
										<img src="public/img/logot-los_angeles_prayers.png" alt="Los Ángeles Prayers">
										<p>Los Ángeles Prayers</p>
									</div>
									<div class="vs">
										<p>vs</p>
									</div>
									<div class="date">
										<p>sábado 25/03/2023 - 10:15h</p>
										<p>Stella Maris la Gavia</p>
									</div>
								</div>
								</div>
							</article>
