<article id="schedule">
								<h3>Horario</h3>	
								<p>24/09/2022 en Stella Maris la Gavia</p>
								<div class="section section2"> 
									<div style="
									    letter-spacing: -1px;
									    background: linear-gradient(45deg, rgba(255, 255, 255,0) 0%, rgba(255,255,255,1) 20%, rgba(0,0,0,1) 50%, rgba(46,99,165,1) 80%, rgba(255, 255, 255,0) 100%);
									">
										<div class="logot">
											<img src="img/logot-laboure_spinners.png" alt="Laboure Spinners">
											<p>Laboure Spinners</p>
										</div>									
										<div class="logot">
											<img src="img/logot-san_jose_profets.png" alt="San José Prophets">
											<p>San José Prophets</p>	
										</div>
										<div class="vs">
											<p>vs</p>
										</div>
										<div class="date">
											<p>sábado 24/09/2022 - 09:00h</p>
											<p>Stella Maris la Gavia</p>
										</div>
									</div>
								</div>
								<div class="section section2"> 
									<div style="
									    letter-spacing: -1px;
									    background: linear-gradient(45deg, rgba(255, 255, 255,0) 0%, rgba(1,1,1,1) 20%, rgba(0,0,0,1) 50%, rgba(135,191,235,1) 80%, rgba(255, 255, 255,0) 100%);
									">
										<div class="logot">
											<img src="img/logot-la_paloma_bc.png" alt="La Paloma B.C.">
											<p>La Paloma B.C.</p>
										</div>									
										<div class="logot">
											<img src="img/logot-la_paloma_bc.png" alt="San Pedro Kings">
											<p>San Pedro Kings</p>	
										</div>
										<div class="vs">
											<p>vs</p>
										</div>
										<div class="date">
											<p>sábado 24/09/2022 - 10:15h</p>
											<p>Stella Maris la Gavia</p>
										</div>
									</div>
								</div>
							</article>
