<article id="schedule">	
								<h3>Horario</h3>	
								<p>Semana 14: sábado 11/02/2023 en Stella Maris la Gavia</p>
								<div class="section section2"> 
								<div style="
								    letter-spacing: -1px;
								    background: linear-gradient(45deg, rgba(255, 255, 255,0) 0%, rgba(45,45,172,1) 20%, rgba(0,0,0,1) 50%, rgba(62,130,30,1) 80%, rgba(255, 255, 255,0) 100%);
								">
									<div class="logot">
										<img src="img/logot-siena.png" alt="Siena">
										<p>Siena</p>
									</div>									
									<div class="logot">
										<img src="img/logot-salterio_lauders.png" alt="Salterio Lauders">
										<p>Salterio Lauders</p>
									</div>	
									<div class="vs">
										<p>vs</p>
									</div>
									<div class="date">
										<p>sábado 11/02/2023 - 09:00h</p>
										<p>Stella Maris la Gavia</p>
									</div>
								</div>
								</div>
								<div class="section section3"> 
								<div style="
								    letter-spacing: -1px;
								    background: linear-gradient(45deg, rgba(255, 255, 255,0) 0%, rgba(255,63,46,1) 20%, rgba(0,0,0,1) 50%, rgba(135,191,235,1) 80%, rgba(255, 255, 255,0) 100%);
								">
									<div class="logot">
                    								<img src="img/logot-betsaida_boanerges.png" alt="Betsaida Boanerges">
										<p>Betsaida Boanerges</p>										
									</div>								
									<div class="logot">
                    								<img src="img/logot-la_paloma_bc.png" alt="San Pedro Kings">
										<p>San Pedro Kings</p>										
									</div>
									<div class="vs">
										<p>vs</p>
									</div>
									<div class="date">
										<p>sábado 11/02/2023 - 10:15h</p>
										<p>Stella Maris la Gavia</p>
									</div>
								</div>
								</div>
							</article>
